{"filter":false,"title":"requirements.txt","tooltip":"/simpleproj/demoproj/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1773138503095,"hash":"02967f546f10584f1ead09d6edbf8ed16c4a6753"}